#Intro to Python

This is an introduction to Python that was written for [CIS 4210/5210](http://artificial-intelligence-class.org)

In [ ]:
print("Hello world! Nice to see you again!")

#Whitespace

In [ ]:
i = 10
if i > 0:
  print("you're good")
  i = 1
else:
  print("you're negative")
print("end of block")

#Types

In [ ]:
a = "hello"
b = " world"
print(a+b)

In [ ]:
i = 0
print(type(i))
i = "hello world"
print(type(i))
isinstance(i, str)

In [ ]:
2**8

#Strings

In [ ]:
print("%s can speak %9d languages" % ("C3PO", 6000000))
print("%s can speak %9d languages" % ("R2D2", 0))

In [ ]:
x = "    hello world  "
y = x
print(x is y)
x = x.strip() # new object
print(x)
print(x is y)

#Lists

In [ ]:
l1 = [1, 2, 3]
l2 = l1[:]

l2

In [ ]:
li = ['d', 'e', 'a', 'b', 'c']
li.sort()
li.reverse()
print(li)

#Strings

In [ ]:
to2c = "         it was the best of times. It was the worst of times.  it was the age of enlightment.  It was the age of misinformation."
words = to2c.split(" ")
#print(words)
to2c = to2c.upper()
print(to2c)

In [ ]:
d = {'classNum':521, 'className':'AI' }
d['className'] = "Artifical Intelligence"
d['className']

#Tuples

In [ ]:
fruit = ['apples', 'oranges', 'grapes']
for i, grocery in enumerate(fruit):
  print(i, grocery)

In [ ]:
tu = (1, 2, 3)
lis = [1, 2, 3]
st = "123"
lis[0] = -1
print(tu[0])
print(lis[0])
print(st[0])

In [ ]:
li = [23, 'abc', 4.6, (2,3), 'def']
#print(tu[1:4])

st = "hello world"
#print(st[0:5])

#st[:-3]
#st[4:]
li2 = li[:]
li.append("I hope you are well.")
print(li)
print(li2)

In [ ]:
d = {}
d['what is your favorite class'] = 'nets 213'
print(d['what is your favorite class'])
d['what is your favorite class'] = 'cis 521'
print(d['what is your favorite class'])

In [ ]:
from collections import Counter
d = Counter()
words = to2c.split(' ')
for w in words:
  d[w] += 1
print(d)

#For loops

In [ ]:
groceries = {'milk': 2, 'eggs': 12, 'beer': 6}
for g, count in groceries.items():
  print('Remember to buy %d %s.' % (count, g))

In [ ]:
for n in range(10):
  square = n**2
  print(square)

#Iterators

In [ ]:
for x in range(1000000000000):
  if x > 10:
    break
  print(x)

In [ ]:
class Student: 
  univ = 'upenn'
  
  def __init__(self,name,dept):
    self.student_name=name
    self.student_dept=dept
    
  def print_details(self):
    print("Name: ", self.student_name)
    print("Dept: ", self.student_dept)
    
student1 = Student("julie", "cis")
student2 = Student("yue", "ling")
student1.print_details()

#For loops

In [ ]:
for i, item in enumerate(['a', 'b', 'c']):
  print(i, item)

#List Comprehensions

In [ ]:
nums = list(range(10))
sq = []
for n in nums:
  sq.append(n*n)
print(sq)

In [ ]:
sq2 = [n*n for n in range(10)]
print(sq2)

In [ ]:
sq3 = [n*n for n in range(10000) if n < 5]
print(sq3)

In [ ]:
d = {}
d[1] = 1
d[2] = 4
d[3] = 9
print(d)

In [ ]:
sq_d = {n: n*n for n in range(10000)}
sq_d[984]

In [ ]:
for i in range(1000000000000):
  if i > 5:
    break
  print(i)

#Generators

In [ ]:
def f(n):
  yield n
  yield n+1

#for i in f(10):
#  print(i)

#type(f(100))

gen = f(19)
type(gen)

print(gen.__next__())
print(gen.__next__())
#print(gen.__next__())

In [ ]:
def merge(l, r):
  """ merging two sorted lists, and returning
      their combined values in sorted order 
  """
  llen, rlen, i, j = len(l), len(r), 0, 0
  while i < llen or j < rlen:
    if j == rlen or (i < llen and l[i] < r[j]):
      yield l[i]
      i += 1
    else:
      yield r[j]
      j+=1
      
evens = [n for n in range(1100000) if n%2==0]
odds = [n for n in range(100000) if n%2==1]
#print(odds)
for num in merge(evens, odds):
   print(num)
   if num > 10:
     break

# Imports

In [ ]:
!pip install nltk

In [ ]:
import math 
math.sqrt(9)

In [ ]:
import queue as Q
q = Q.PriorityQueue()
q.put((100, "a"))
q.put((-10, "b"))
q.put((23, "c"))
while not q.empty():
  print(q.get()[1])

#Functions

In [ ]:
def myfun(b, c=3, d="hello world"):
  return b+c

myfun(10)
#myfun(2,d="hi",c=300)

In [ ]:
def add_everything(*args):
  sum = 0
  for elem in args:
    sum += elem
  return sum

add_everything(1,2,3,4,5,6,1000,50,-100,20.00)

In [ ]:
def add_keyword_args(**kwargs):
#  for key, value in kwargs.items():
#    print(key,value)
   return kwargs['c']+kwargs['e']
add_keyword_args(d='hello', c=10, e=2.3)

In [ ]:
def compose(f, g, x):
  return f(g(x))

data = list(range(10))
sum(data)
#type(sum)
#type(str)

compose(math.sqrt, max, data)

In [ ]:
[int(s) for s in ['1', '99', '10000']]

In [ ]:
list(map(int, ['1', '99', '10000']))

# Classes

In [ ]:
class Student:
    univ = "UPenn" # class attribute

    def  __init__(self, name, dept):
        self.student_name = name
        self.student_dept = dept
    def __str__(self):
        stud_str = ""
        stud_str += "Name: " + self.student_name + "\n"
        stud_str += "Dept: " + self.student_dept + "\n"
        return stud_str


class AIStudent(Student):
   def __init__(self, name, dept, fav_class="CIS 521"):
     Student.__init__(self, name, dept) 
     self.fav_class = fav_class
  
   def __str__(self):
        stud_str = ""
        stud_str += "Name: " + self.student_name + "\n"
        stud_str += "Dept: " + self.student_dept + "\n"
        stud_str += "Fav Class: " + self.fav_class + "\n"
        return stud_str


student1 = AIStudent("julie", "cis")
#student1.__str__()
print(student1)
details = Student.__str__(student1)
print(details)
student1.univ = "Stanford"
print(student1.univ)
print(Student.univ)

In [ ]:
class Student:
  def __init__(self, full_name, age):
    self.full_name = full_name
    self.age = age
  def __str__(self):
    return "I'm named " + self.full_name + " â€“ age: " +  str(self.age)

f = Student("Wei Xu", 23)
print(f)